@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: Jost;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: calc(100vw - var(--scrollbar-width));
  height: 100vh;
  background-image: url('/image/background/main-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.header__menu {
  position: fixed;
  width: 75vw;
  height: 70px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 15px;
  transition: transform .3s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5;

    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.header__menu.hide {
  transform: translateY(-90px);
}

.header__text {
  color: black;
  font-size: 20px;

  &:hover {
    color: #DC668B;
  }
}

.header__burger {
  display: none;
}

.header__title {
  display: flex;
  align-items: flex-end;
  padding: 0 500px 6% 0;

    @media (max-width: 1024px) and (min-width: 768px) {
      padding: 0 0 6% 0;
    }
}

.header__title p {
  color: #fff;
  font-size: 56px;
  font-weight: 600;
}

main {
  height: 1600px;
}

.application {
  width: calc(100vw - var(--scrollbar-width));
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.application__box {
  background: linear-gradient(#fff5f5, #e7b4b4);
  width: 1100px;
  height: 380px;
  border-radius: 30px;

    @media (max-width: 1024px) and (min-width: 768px) {
      width: 800px;
      height: 350px;
    }
}

.application__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90px;
  padding-top: 30px;
}

.application__title {
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 10px;
}

.application__subtitle {
  font-weight: 400;
  font-size: 16px;
}

.application__bottom {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.application__div p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.application__div:nth-child(3) p {
  margin: 0;
}

.application__block {
  background-color: #fff;
  height: 50px;
  border-radius: 10px;
}

.application__block--1 {
  width: 200px;
}

.application__block--2 {
  width: 200px;
}

.application__block--3 {
  background-color: #DC668B;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #a24a66;
  }
}

.application__block--3 p {
  color: #fff;
}

.application__block input {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.services {
  height: 900px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service--1 {
  height: 740px;
  width: 400px;
  background-image: url('/image/services/vertical.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02, 1.02)
  }

    @media (max-width: 1024px) and (min-width: 768px) {
      width: 300px;
      height: 600px;
    }
}

.service--1 p {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.services__box--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service {
  height: 350px;
  width: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02, 1.02)
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    width: 280px;
    height: 280px;
  }
}

.service p {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.service--2 {
  background-image: url('/image/services/disk.jpg');
}

.service--3 {
  background-image: url('/image/services/disk-2.jpg');
}

.service--4 {
  background-image: url('/image/services/processor.jpg');
}

.service--5 {
  background-image: url('/image/services/laptop.jpg');
}

.offers {
  height: 1100px;
  display: flex;
  flex-direction: column;
}

.offers__titles {
  padding-top: 100px;
}

.offers__firstTitle {
  color: #DC668B;
  font-size: 26px;
}

.offers__secondTitle {
  font-size: 42px;
  font-weight: 600;
}

.offers__thirdTitle {
  font-size: 20px;
}

.offers__title {
  padding-left: 80px;
  margin-bottom: 10px;

    @media (max-width: 1024px) and (min-width: 768px) {
      padding-left: 40px;
    }
}

.offers__cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.offers__card {
  height: 500px;
  width: 450px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

    -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);

    @media (max-width: 1024px) and (min-width: 768px) {
      height: 450px;
      width: 300px;
    }
}

.offers__imgTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers__card img {
  border-radius: 30px;
  width: 420px;
  margin: 10px 0 30px 0;

    @media (max-width: 1024px) and (min-width: 768px) {
      width: 280px;
    }
  }

.offers__cardTitle {
  font-size: 22px;
  font-weight: 700;
}

.offers__cardSubTitle {
  font-size: 16px;
  font-weight: 300;
}

.offers__cardPrice {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 30px;
}

.footer {
  height: 700px;
  background-color: #1E1E1E;
}

.footer__box {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__container p {
  font-size: 40px;
  color: #fff;
  padding-top: 120px;
}

.footer__buttonContainer {
  display: flex;
}

.footer__buttonContainer input {
  width: 350px;
  height: 70px;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  font-size: 20px;
  font-style: italic;
  padding-left: 40px;
}

.footer__buttonContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  background-color: #DC668B;
  border-radius: 0 15px 15px 0;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #a24a66;
  }
}

.footer__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.footer__nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer__nav a {
  color: #fff;

    &:hover {
      color:#DC668B;
    }
}

.footer__bottomContainer {
  display: flex;
  justify-content: center;
  padding-top: 220px;
}

.footer__bottomContainer p {
  border-top: #4e4e4e 1px solid;
  padding: 20px 15px 0 15px;
  color: #fff;
}